/* :root{
    --primary-color: #FDD3D0;
    --secondary-color: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

.container-father{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* .container-center{
    display: grid;
    place-content: center;
    place-items: center;
}

label, input{
    font-family: Verdana, sans-serif;
    margin: arriba, derecha, abajo, izquierda
    margin: 3rem 0 3rem 0 ; 
    border-radius: 5rem;
    box-shadow: 3rem 3rem;
} 
*/